.button{
    -fx-background-color: #189fa5

        
}

.table-view .column-header-background .label{
    -fx-background-color:  #189fa5;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color:   #189fa5;
}

.table-view .table-cell{
    -fx-text-fill: black;
}
.table-view .table-cell{
    -fx-text-fill:#black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}



.table-row-cell:selected {
    -fx-background-color: #189fa5;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}